# Configurações do Docker e do Banco
POSTGRES_DB=hotel_reservas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=senha123

# Configurações da Aplicação
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_NAME=hotel_reservas
DB_USER=postgres
DB_PASS=senha123
JWT_SECRET=super_secret_key_123
APP_PORT=8080